#task {
  margin-bottom: 1em;
}

#progress {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#trial-progress {
  margin-left: auto;
}

#block-progress {
  align-self: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experiment {
  width: 550px;
  padding: 0 10px; /* fixed size is used for consistent experimental conditions */
}
