* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.5em;
  width: 100vw;
  display: flex;
}

body > * {
  padding: 0 0.5em;
}

#task {
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experiment {
  width: 550px; /* fixed size is used for consistent experimental conditions */
  padding: 0 10px;
}

.item{
  /*display: table;   !* Allow the centering to work *!*/
  margin: 0 auto;
  border-top: 2px solid white;
}



.fade-in{
  /*display: table;   !* Allow the centering to work *!*/
  margin: 0 auto;
  border-bottom: 2px solid black;
}

