body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 10px;
    line-height: 1.65em;
    /*background: #B20940;*/
    /*color: #fff;*/
    font-weight: 300;
}

h1 {
    text-align: center;
    margin: 20% 0 5% 0;
}

#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: left;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
}

#button {
    background: #0b7fba;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: left;
    border-radius: 6px;
    font-weight: bold;
}


#out {
    padding: 1em 2em;
    text-align: center;
    font-size: 30px;
}

#out2 {
    padding: 1em 2em;
    text-align: center;
    font-size: 30px;
}

#out3 {
    padding: 1em 2em;
    text-align: center;
    font-size: 30px;
}